
.html {
      font-size: 62.5%;
}

 /* .img(max-width:998px) {
     html {
         font-size:55%;
     };
    }      */
 /* .img(max-width:768px){
     html {
         font-size:45%;
     }
 } */

 
   h3{
     font-size: 2rem;
     padding: 0%;
     font-family: sans-serif;
      
 } 
 label{
     float: left;
     margin-top: 0%;
     margin-left: -1%;
 }
.adjust p{
    font-size: 5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0%;
    padding-left: 2%;
    padding: auto;
    
 }body{background: #ecf4fb;}
    span{
    font-size: 2rem;
    font-style: oblique;
    font-display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-color: rgb(94, 194, 219);
    
}
  address{
      margin-right: 50%;
      padding-right: 50%;
      width: max-content;
      font-size: 1rem;
  }
nav{
    width: 10rem;
    padding-left: 50%;
    padding-inline-end: 1%;
    font-size: 2rem;

}
div{
    font-size: 2rem;
    font-style: oblique;
    width:100%;
}
   img{
       padding-left: 1%;
       margin: 4rem;
       background-origin: padding-box;
       border-radius: 10%;
   }
   h3{padding-left: 30%;}
   footer div{
       font-size: 2rem;
       font-style: bold;

   }
   footer p{
       font-size: 2rem;
       font-weight: bold;
   }
   .img-gallery img:hover{
        transform: scale(0.8) rotate(-15deg); 
       border-radius: 2rem;
       box-shadow: 0 3.2rem 7.5rem rgba(68,77, 136, 0.2);

   }
    
    
    nav ul{
       /* float: right; */
       /* margin-right: 4rem; */
   }
   nav li {
       display: inline-block;
       /* margin: 0 .8rem;
       line-height: 8rem; */

   }
    nav a{
        font-size: 1rem;
        text-transform: uppercase;
        border: .1rem solid transparent;
        padding: .7rem 1rem;
        border-radius: .3rem;
    }
      a.active, a:hover{
            border: .1rem solid rgb(224, 12, 207);
            transition: .5s;

      }
       nav #icon{
           color: white;
           font-size: 3rem;
           line-height: 8rem;
           float: right;
           margin-right: 4rem;
           cursor: pointer;
           display: none;
       } 
       .adjust {
        font-size: 5rem;
       }
        @media (max-width:1048px){
        .adjust{
            font-size: 5rem;
        } 
        
        }
        
       @media (max-width:909px){
        .adjust{
            font-size: 2rem;
        } 
        }
        @media (max-width:909px){
            .subhead{
                font-size: 1rem;
            }
        }
        @media (max-width:909px){
            .end{
                font-size: 1rem;
            }
        }
        @media (max-width:909px){
            .img-gallery{
                width: 1rem;
            }
        }
        @media (max-width:909px){
            .bar{
            font-size : 1rem;
            }
        }
       
       /* @media (max-width:1048px){
           nav ul{
               margin-right: 2rem;
           }
           nav a{
               font-size: 1.7rem;
           }
       }
       @media (max-width:909px){
           nav #icon{
               display: block;
           }
           nav ul{
               position: fixed;
               width: 100%;
               height: 100vh;
               background: #2f3640;
               top: 8rem;
               left: -100%;
               text-align: center;
               transition: all .5s;
           } */
           /* nav li{
               display: block;
               margin: 5rem 0;
               line-height: 3rem;
           }
           nav a{
               font-size: 2rem;
           }
           a.active,a:hover{
               border: none;
               color:#3498db;
           }
           nav ul.show{
               left: 0;
           } */
       /* }
          section{
              background: url(logol.jpg) no-repeat;
              background-size: cover;
              height: calc(100vh - 8rem);
          } */
          /* i{
              color: blue;
          } */
          header{
              background-color: yellow;
          }